Repository uprootai/AX_OCR: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-api-specs

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: detect-private-key

  # Python - Ruff (fast linter + formatter)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.9
    hooks:
      - id: ruff
        args: ['--fix', '--ignore', 'E501']
        types_or: [python, pyi]
      - id: ruff-format
        types_or: [python, pyi]

  # TypeScript/JavaScript - ESLint
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: bash -c 'cd web-ui && npm run lint'
        language: system
        files: '^web-ui/src/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Check
        entry: bash -c 'cd web-ui && npx tsc --noEmit'
        language: system
        files: '^web-ui/src/.*\.(ts|tsx)$'
        pass_filenames: false

  # YAML validation for API specs
  - repo: local
    hooks:
      - id: validate-api-specs
        name: Validate API Specs
        entry: python -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: '^gateway-api/api_specs/.*\.yaml$'
        types: [yaml]

# CI/CD integration note:
# These hooks run the same checks as .github/workflows/ci.yml
# This ensures consistency between local development and CI

feat: E06 S04+S07 완료 — 섹션 순서 검증 + 표 형식 통일 + anchor 18개 추가
  docs-site-starlight/src/content/docs/api-reference/blueprint-ai-bom.md
  docs-site-starlight/src/content/docs/bom-generation/export-formats.md
  docs-site-starlight/src/content/docs/deployment/dockerization.md
  docs-site-starlight/src/content/docs/developer/api-replacement.md
  docs-site-starlight/src/content/docs/developer/api-spec-system.md
  docs-site-starlight/src/content/docs/frontend/pages/admin.mdx
  docs-site-starlight/src/content/docs/frontend/pages/blueprintflow.mdx
  docs-site-starlight/src/content/docs/frontend/pages/dashboard.mdx
  docs-site-starlight/src/content/docs/frontend/pages/project.mdx
  docs-site-starlight/src/content/docs/frontend/pages/session.mdx
  docs-site-starlight/src/content/docs/system-overview/index.mdx
Due: none

chore: E06 전체 완료 — 8 Stories 상태 업데이트
  .todo/ACTIVE.md
Due: none

docs: DSE 베어링 사례 가독성 개선 — 용어 설명·중복 제거·견적 기준 명시
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/data-overview.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/meeting-history.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/results.mdx
Due: none

docs: 고객 적용 사례 인덱스 페이지 개선 — 중복 제거·사례 카드·다이어그램 수정
  docs-site-starlight/src/content/docs/customer-cases/index.mdx
Due: none

docs: DSE 베어링 5개 페이지 가독성 전면 개선 — Codex CLI 리뷰 반영
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/data-overview.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/meeting-history.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/next-steps.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/results.mdx
Due: none

fix: DSE 베어링 문서 내부 링크 수정 — /docs/ 프리픽스 누락 해결
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/data-overview.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/meeting-history.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/next-steps.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/results.mdx
Due: none

feat: 사이드바 전체 한국어화 + DSE 베어링 실제 구현 현황 추가
  docs-site-starlight/astro.config.mjs
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/results.mdx
Due: none

docs: DSE 베어링 시스템 커버리지 + API 현황 섹션 추가
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/next-steps.mdx
Due: none

docs: DSE 베어링 Playwright 실제 시스템 검증 결과 반영
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/results.mdx
Due: none

fix: DSE 베어링 Playwright 테스트에서 발견된 4개 버그 수정
  gateway-api/requirements.txt
  gateway-api/services/customer_config.py
  gateway-api/services/price_database.py
  web-ui/src/App.tsx
Due: eslint, typescript-check

docs: DSE 베어링 사례 스토리텔링 리팩토링 + 이미지 경로 수정
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/data-overview.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/meeting-history.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/next-steps.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/results.mdx
  ngrok-proxy/nginx.conf
Due: none

assets: DSE 베어링 Playwright 스크린샷 19장 추가 + gitignore 예외
  .gitignore
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/assembly-material-breakdown.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/blueprintflow-templates.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/bom-app-home.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/bom-home.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/bom-session-analysis-tabs.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/bom-session-bearing-ring.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/bom-session-bottom.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/bom-session-features.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/dashboard-overview.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/dimension-list-confidence.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/ocr-overlay-drawing.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/ocr-verification-cards.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/project-detail-top.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/project-list.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/quotation-workflow.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/session-bearing-ring-overview.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/table-extraction-results.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/text-areas-ocr.png
  docs-site-starlight/public/docs/img/customer-cases/dsebearing/screenshots/titleblock-ocr-section.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/assembly-material-breakdown.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/blueprintflow-templates.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/bom-app-home.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/bom-home.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/bom-session-analysis-tabs.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/bom-session-bearing-ring.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/bom-session-bottom.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/bom-session-features.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/dashboard-overview.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/dimension-list-confidence.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/ocr-overlay-drawing.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/ocr-verification-cards.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/project-detail-top.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/project-list.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/quotation-workflow.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/session-bearing-ring-overview.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/table-extraction-results.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/text-areas-ocr.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/titleblock-ocr-section.png
Due: none

fix: BOM 프론트엔드 nginx에 /bom prefix rewrite 영속화
  blueprint-ai-bom/frontend/nginx.conf
Due: none

docs: 2차 미팅 시연 시나리오 + 이메일 초안 추가
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/next-steps.mdx
Due: none

feat: E07 Operational Excellence + P0/P1 버그픽스
  .github/workflows/ci.yml
  .todo/ACTIVE.md
  .todo/COMPLETED.md
  .todo/epics/e07-operational-excellence/EPIC.md
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/next-steps.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/results.mdx
  docs-site-starlight/src/content/docs/system-overview/ocr-engine-swap.mdx
  docs/KNOWN_ISSUES.md
  gateway-api/routers/admin_router.py
  gateway-api/routers/api_key_router.py
  gateway-api/routers/dsebearing_quote_router.py
  gateway-api/services/quote_exporter.py
  gateway-api/tests/test_admin_router.py
  gateway-api/tests/test_ocr_ab_comparison.py
  gateway-api/tests/test_upload_cleanup.py
  gateway-api/utils/logging_middleware.py
  gateway-api/utils/result_manager.py
  models/table-detector-api/tests/test_table_detector_service.py
  web-ui/src/components/blueprintflow/DetectionResultCard.test.tsx
  web-ui/src/components/blueprintflow/PipelineConclusionCard.test.tsx
  web-ui/src/components/blueprintflow/ResultSummaryCard.test.tsx
  web-ui/src/components/monitoring/ServiceHealthCard.test.tsx
  web-ui/src/config/features/featureDefinitions.ts
  web-ui/src/pages/blueprintflow/BlueprintFlowBuilder.tsx
  web-ui/src/store/apiConfigStore.ts
  web-ui/src/store/workflowStore.ts
Due: eslint, typescript-check

refactor: P2 기술부채 해소 — URL 중앙화 + Mock 제거 + 대형 파일 분리
  gateway-api/blueprintflow/executors/bom_executor.py
  gateway-api/routers/admin_router.py
  gateway-api/routers/dsebearing_parsing_router.py
  gateway-api/routers/dsebearing_quote_router.py
  gateway-api/services/dsebearing_parser.py
  gateway-api/services/dsebearing_parser/__init__.py
  gateway-api/services/dsebearing_parser/constants.py
  gateway-api/services/dsebearing_parser/dimensions.py
  gateway-api/services/dsebearing_parser/models.py
  gateway-api/services/dsebearing_parser/parser.py
  gateway-api/services/dsebearing_parser/parts_list.py
  gateway-api/services/dsebearing_parser/title_block.py
  web-ui/src/components/blueprintflow/NodeDetailPanel.tsx
  web-ui/src/components/blueprintflow/node-detail/ExecutionResultCard.tsx
  web-ui/src/components/blueprintflow/node-detail/ImagePreviewCard.tsx
  web-ui/src/components/blueprintflow/node-detail/MetaCards.tsx
  web-ui/src/components/blueprintflow/node-detail/ParametersCard.tsx
  web-ui/src/components/blueprintflow/node-detail/RecommendedNodesCard.tsx
  web-ui/src/components/blueprintflow/node-detail/types.ts
  web-ui/src/components/blueprintflow/node-palette/hooks/useContainerStatus.ts
  web-ui/src/components/ui/PipelineProgress.tsx
  web-ui/src/pages/admin/api-detail/hooks/useAPIDetail.ts
  web-ui/src/pages/blueprintflow/BlueprintFlowBuilder.tsx
  web-ui/src/pages/blueprintflow/builder/BuilderToolbar.tsx
  web-ui/src/pages/blueprintflow/builder/ExecutionModeToggle.tsx
  web-ui/src/pages/blueprintflow/builder/WorkflowBuilderCanvas.tsx
  web-ui/src/pages/blueprintflow/builder/types.ts
  web-ui/src/pages/blueprintflow/builder/useBuilderHandlers.ts
  web-ui/src/pages/blueprintflow/components/FinalResultView.tsx
  web-ui/src/pages/blueprintflow/hooks/useContainerStatus.ts
  web-ui/src/store/apiConfigStore.ts
Due: eslint, typescript-check

fix: P3 기술부채 해소 — 삼킨 예외, print→logger, 타입 안전, URL 중앙화
  gateway-api/blueprintflow/executors/pidanalyzer_executor.py
  gateway-api/blueprintflow/executors/tabledetector_executor.py
  gateway-api/routers/container_router.py
  gateway-api/services/quote_exporter.py
  web-ui/src/components/admin/YOLOModelManager.tsx
  web-ui/src/components/dashboard/ContainerManager.tsx
  web-ui/src/pages/pid-overlay/PIDOverlayPage.tsx
Due: eslint, typescript-check

feat: E04 S01~S03 — 범용 납품 템플릿 + 커스터마이징 도구 + 사용자 가이드
  .todo/ACTIVE.md
  .todo/epics/e04-ax-testcomplex/EPIC.md
  blueprint-ai-bom/exports/delivery-template/README.md.template
  blueprint-ai-bom/exports/delivery-template/docker-compose.yml.template
  blueprint-ai-bom/exports/delivery-template/generate-package.sh
  blueprint-ai-bom/exports/delivery-template/setup.ps1.template
  blueprint-ai-bom/exports/delivery-template/setup.sh.template
  docs-site-starlight/src/content/docs/user-guide/faq.mdx
  docs-site-starlight/src/content/docs/user-guide/manual.mdx
  docs-site-starlight/src/content/docs/user-guide/quick-start.mdx
  scripts/create_customer_api.py
  scripts/create_customer_api_templates.py
  scripts/test_coverage.py
Due: none

feat: E04 S04 — 기존 3개사 통합 관리 + 테크로스 API 스캐폴딩
  .todo/ACTIVE.md
  .todo/epics/e04-ax-testcomplex/EPIC.md
  apply-company/STATUS.md
  apply-company/_template/README.md
  apply-company/dsebearing/README.md
  apply-company/panasia/README.md
  apply-company/techloss/README.md
  gateway-api/api_specs/techcross.yaml
  gateway-api/routers/techcross_router.py
  gateway-api/services/techcross_config.py
  gateway-api/services/techcross_parser.py
Due: validate-api-specs

fix: 패키지 전환 후 남아있던 container_router.py 원본 삭제
  gateway-api/routers/container_router.py
Due: none

refactor: 6개 추가 파일 분리 (500줄대 → 모듈당 400줄 이하)
  gateway-api/services/api_key_service/__init__.py
  gateway-api/services/api_key_service/crypto.py
  gateway-api/services/api_key_service/models.py
  gateway-api/services/api_key_service/service.py
  gateway-api/utils/result_manager/__init__.py
  gateway-api/utils/result_manager/constants.py
  gateway-api/utils/result_manager/core.py
  gateway-api/utils/result_manager/scheduler.py
  gateway-api/utils/result_manager/singleton.py
  web-ui/src/components/dashboard/ExportToBuiltinDialog.tsx
  web-ui/src/components/dashboard/ExportToBuiltinDialog/CodeSection.tsx
  web-ui/src/components/dashboard/ExportToBuiltinDialog/ExportToBuiltinDialog.tsx
  web-ui/src/components/dashboard/ExportToBuiltinDialog/generators.ts
  web-ui/src/components/dashboard/ExportToBuiltinDialog/index.ts
  web-ui/src/components/dashboard/ExportToBuiltinDialog/types.ts
  web-ui/src/components/debug/OCRVisualization.tsx
  web-ui/src/components/debug/ocr-visualization/OCRVisualizationMain.tsx
  web-ui/src/components/debug/ocr-visualization/OCRVisualizationPanels.tsx
  web-ui/src/components/debug/ocr-visualization/index.ts
  web-ui/src/components/debug/ocr-visualization/types.ts
  web-ui/src/components/debug/ocr-visualization/utils.ts
  web-ui/src/config/nodes/analysisNodesDocument.dimensionparser.ts
  web-ui/src/config/nodes/analysisNodesDocument.partslist.ts
  web-ui/src/config/nodes/analysisNodesDocument.titleblock.ts
  web-ui/src/config/nodes/analysisNodesDocument.ts
  web-ui/src/pages/blueprintflow/components/FinalResultView.tsx
  web-ui/src/pages/blueprintflow/components/FinalResultView/FinalResult.tsx
  web-ui/src/pages/blueprintflow/components/FinalResultView/NodeResultCard.tsx
  web-ui/src/pages/blueprintflow/components/FinalResultView/NodeResultHeader.tsx
  web-ui/src/pages/blueprintflow/components/FinalResultView/ParametersDisplay.tsx
  web-ui/src/pages/blueprintflow/components/FinalResultView/UIActionDisplay.tsx
  web-ui/src/pages/blueprintflow/components/FinalResultView/index.ts
  web-ui/src/pages/blueprintflow/components/FinalResultView/types.ts
  web-ui/src/pages/blueprintflow/components/FinalResultView/utils.ts
Due: eslint, typescript-check

refactor: 마지막 3개 파일 분리 — 프로덕션 코드 전체 500줄 미만 달성
  web-ui/src/components/blueprintflow/DetectionResultCard.tsx
  web-ui/src/components/blueprintflow/DetectionResultCard/FilterCheckbox.tsx
  web-ui/src/components/blueprintflow/DetectionResultCard/MetricCard.tsx
  web-ui/src/components/blueprintflow/DetectionResultCard/index.tsx
  web-ui/src/components/blueprintflow/DetectionResultCard/types.ts
  web-ui/src/components/blueprintflow/DetectionResultCard/useDetectionData.ts
  web-ui/src/components/blueprintflow/PipelineConclusionCard.tsx
  web-ui/src/components/blueprintflow/PipelineConclusionCard/DetectionSection.tsx
  web-ui/src/components/blueprintflow/PipelineConclusionCard/DimensionsSection.tsx
  web-ui/src/components/blueprintflow/PipelineConclusionCard/GdtSection.tsx
  web-ui/src/components/blueprintflow/PipelineConclusionCard/PidSection.tsx
  web-ui/src/components/blueprintflow/PipelineConclusionCard/PipelineConclusionCard.tsx
  web-ui/src/components/blueprintflow/PipelineConclusionCard/SummaryStats.tsx
  web-ui/src/components/blueprintflow/PipelineConclusionCard/ViolationsSection.tsx
  web-ui/src/components/blueprintflow/PipelineConclusionCard/hooks.ts
  web-ui/src/components/blueprintflow/PipelineConclusionCard/index.ts
  web-ui/src/components/blueprintflow/PipelineConclusionCard/types.ts
  web-ui/src/components/dashboard/AddAPIDialog.tsx
  web-ui/src/components/dashboard/AddAPIDialog/AddAPIDialogView.tsx
  web-ui/src/components/dashboard/AddAPIDialog/index.ts
  web-ui/src/components/dashboard/AddAPIDialog/types.ts
  web-ui/src/components/dashboard/AddAPIDialog/useAddAPIForm.ts
Due: eslint, typescript-check

docs: DSE 사례 전면 교차검증 — 사실 정확성 + BOM 색상 통일 + 사이드바 토글
  apply-company/dsebearing/2026-02-04_DSE_BEARING_미팅준비.md
  apply-company/dsebearing/2026-02-04_회의록_1차미팅.md
  apply-company/dsebearing/2차미팅_준비자료_2026-03-04.md
  apply-company/dsebearing/DSEBEARING_요구사항_분석_2026-01-20.md
  apply-company/dsebearing/README.md
  apply-company/dsebearing/TODO_확인필요사항.md
  apply-company/dsebearing/email/2026-01-21_후속요청_초안.md
  apply-company/dsebearing/email/자료구조_시각화.md
  docs-site-starlight/astro.config.mjs
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/bom-excel-colors-page2.png
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/bom-excel-colors-page3.png
  docs-site-starlight/src/components/Head.astro
  docs-site-starlight/src/components/SidebarToggle.astro
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/data-overview.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/meeting-history.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/next-steps.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/results.mdx
  docs-site-starlight/src/content/docs/customer-cases/index.mdx
  docs-site-starlight/src/styles/custom.css
Due: none

feat: 분석 결과 검증 프레임워크 + 자기수정 루프 구현
  blueprint-ai-bom/backend/routers/analysis/batch_router.py
  blueprint-ai-bom/backend/routers/analysis/core_router.py
  blueprint-ai-bom/backend/schemas/session.py
  blueprint-ai-bom/backend/schemas/validation.py
  blueprint-ai-bom/backend/services/opencv_classifier.py
  blueprint-ai-bom/backend/services/session_name_parser.py
  blueprint-ai-bom/backend/services/validation/__init__.py
  blueprint-ai-bom/backend/services/validation/corrector.py
  blueprint-ai-bom/backend/services/validation/engine.py
  blueprint-ai-bom/backend/services/validation/rules_bearing.py
  blueprint-ai-bom/scripts/dse_analyze_remaining.py
Due: none

docs: DSE 사례 문서 갱신 + 2차 미팅·배치 테스트 리포트 추가
  docs-site-starlight/astro.config.mjs
  docs-site-starlight/public/img/customer-cases/dsebearing/screenshots/bom-color-annotated.png
  docs-site-starlight/src/content/docs/analysis-pipeline/ocr-processing.mdx
  docs-site-starlight/src/content/docs/batch-delivery/batch-processing.mdx
  docs-site-starlight/src/content/docs/blueprintflow/dag-engine.mdx
  docs-site-starlight/src/content/docs/bom-generation/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/2nd-meeting.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/batch-test-report.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/data-overview.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/meeting-history.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/next-steps.mdx
  docs-site-starlight/src/content/docs/customer-cases/dsebearing/results.mdx
  docs-site-starlight/src/content/docs/customer-cases/index.mdx
  docs-site-starlight/src/content/docs/customer-cases/panasia.mdx
  docs-site-starlight/src/content/docs/deployment/dockerization.md
  docs-site-starlight/src/content/docs/deployment/installation.md
  docs-site-starlight/src/content/docs/deployment/on-premise-infra.md
  docs-site-starlight/src/content/docs/developer/contributing.md
  docs-site-starlight/src/content/docs/developer/git-workflow.md
  docs-site-starlight/src/content/docs/frontend/index.mdx
  docs-site-starlight/src/content/docs/frontend/routing.mdx
  docs-site-starlight/src/content/docs/pid-analysis/line-detection.mdx
  docs-site-starlight/src/content/docs/quality-assurance/evaluation-reports.md
  docs-site-starlight/src/content/docs/system-overview/architecture-map.mdx
  docs-site-starlight/src/content/docs/system-overview/port-network.mdx
  docs-site-starlight/src/content/docs/system-overview/service-catalog.mdx
  docs-site-starlight/src/content/docs/system-overview/tech-stack.mdx
Due: none

feat: BOM 서브이미지 OD/ID/W 표시 + dimension_parser 개선
  blueprint-ai-bom/backend/routers/session_router.py
  blueprint-ai-bom/backend/schemas/dimension.py
  blueprint-ai-bom/backend/services/bom_pdf_parser.py
  blueprint-ai-bom/backend/services/dimension_parser.py
  blueprint-ai-bom/backend/services/dimension_service.py
  blueprint-ai-bom/frontend/.env.production
  blueprint-ai-bom/frontend/src/components/DimensionOverlay.tsx
  blueprint-ai-bom/frontend/src/pages/project/ProjectDetailPage.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/sections/DimensionSection.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/types/workflow.ts
  blueprint-ai-bom/frontend/src/types/index.ts
  web-ui/src/components/bom/BOMSessionOverlay.tsx
  web-ui/src/lib/blueprintBomApi.ts
Due: eslint, typescript-check

chore: DSE 분석 실험 스크립트 추가
  blueprint-ai-bom/scripts/dse_batch_sequential.py
  blueprint-ai-bom/scripts/dse_batch_test.py
  blueprint-ai-bom/scripts/experiment_odidw_v2.py
  blueprint-ai-bom/scripts/experiment_opencv_odidw.py
Due: none

feat: Dimension Lab 배치 평가 시스템 — 다수 도면 일괄 분석 + 후행 평가
  blueprint-ai-bom/backend/api_server.py
  blueprint-ai-bom/backend/routers/analysis/__init__.py
  blueprint-ai-bom/backend/routers/analysis/lab/__init__.py
  blueprint-ai-bom/backend/routers/analysis/lab/batch_eval_router.py
  blueprint-ai-bom/frontend/src/App.tsx
  blueprint-ai-bom/frontend/src/lib/api/analysis.ts
  blueprint-ai-bom/frontend/src/pages/dimension-lab/BatchEvalPage.tsx
  blueprint-ai-bom/frontend/src/pages/dimension-lab/DimensionLabPage.tsx
  blueprint-ai-bom/frontend/src/pages/dimension-lab/index.ts
  blueprint-ai-bom/frontend/src/pages/index.ts
Due: none

feat: 프로덕션 파이프라인에 기하학 보강 적용 (Step 5.5)
  blueprint-ai-bom/backend/services/dimension_parser.py
Due: none

fix: 배치 평가 UX 개선 — 새로고침 복원, 병렬 실행, sanity check
  blueprint-ai-bom/backend/routers/analysis/lab/batch_eval_router.py
  blueprint-ai-bom/frontend/src/lib/api/analysis.ts
  blueprint-ai-bom/frontend/src/pages/dimension-lab/BatchEvalPage.tsx
Due: none

feat: 배치 결과 디스크 영속화 — 서버 재시작 후에도 복원
  blueprint-ai-bom/backend/routers/analysis/lab/batch_eval_router.py
Due: none

fix: 배치 평가 OCR/기하학 120초 타임아웃 추가 — hang 방지
  blueprint-ai-bom/backend/routers/analysis/lab/batch_eval_router.py
Due: none

fix: 배치 평가 순차 실행 + 타임아웃 조정 — 메모리 부족 환경 대응
  blueprint-ai-bom/backend/routers/analysis/lab/batch_eval_router.py
Due: none

fix: 배치 평가 경량화 — edocr2 직접 호출 + 기하학 graceful skip
  blueprint-ai-bom/backend/routers/analysis/lab/batch_eval_router.py
Due: none

feat: Dimension Lab UX 전면 재설계 — 탭 기반 연구 허브
  blueprint-ai-bom/frontend/src/App.tsx
  blueprint-ai-bom/frontend/src/pages/dimension-lab/BatchEvalPage.tsx
  blueprint-ai-bom/frontend/src/pages/dimension-lab/BatchEvalTab.tsx
  blueprint-ai-bom/frontend/src/pages/dimension-lab/DimensionLabPage.tsx
  blueprint-ai-bom/frontend/src/pages/dimension-lab/LeaderboardTab.tsx
  blueprint-ai-bom/frontend/src/pages/dimension-lab/SingleAnalysisTab.tsx
  blueprint-ai-bom/frontend/src/pages/dimension-lab/index.ts
  blueprint-ai-bom/frontend/src/pages/dimension-lab/types.ts
  blueprint-ai-bom/frontend/src/pages/index.ts
Due: none
