Repository uprootai/AX_OCR: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, typescript-check, validate-api-specs

eslint:
  name: ESLint
  entry: bash -c 'cd web-ui && npm run lint'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd web-ui && npx tsc --noEmit'
  language: system
  pass_filenames: false

validate-api-specs:
  name: Validate API Specs
  entry: python -c "import yaml; import sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

feat: Table Detector API 통합 및 DSE Bearing 템플릿 개선
  .claude/commands/test-api.md
  .claude/settings.local.json
  .todo/2026-01-22_DSE_BEARING_TEMPLATE_FIXES.md
  .todo/ACTIVE.md
  CLAUDE.md
  blueprint-ai-bom/backend/api_server.py
  blueprint-ai-bom/frontend/src/components/ReferencePanel.tsx
  blueprint-ai-bom/frontend/src/pages/VerificationPage.tsx
  blueprint-ai-bom/frontend/src/pages/WorkflowPage.tsx
  docker-compose.override.yml
  docker-compose.yml
  gateway-api/api_specs/tabledetector.yaml
  gateway-api/blueprintflow/engine/input_collector.py
  gateway-api/blueprintflow/engine/pipeline_engine.py
  gateway-api/blueprintflow/executors/__init__.py
  gateway-api/blueprintflow/executors/bom_executor.py
  gateway-api/blueprintflow/executors/tabledetector_executor.py
  models/esrgan-api/Dockerfile
  models/esrgan-api/services/model.py
  models/table-detector-api/Dockerfile
  models/table-detector-api/api_server.py
  models/table-detector-api/requirements.txt
  models/table-detector-api/routers/__init__.py
  models/table-detector-api/routers/table_router.py
  models/table-detector-api/services/__init__.py
  models/table-detector-api/services/table_detector_service.py
  rnd/README.md
  web-ui/e2e/templates.spec.ts
  web-ui/src/components/blueprintflow/NodeDetailPanel.tsx
  web-ui/src/components/blueprintflow/node-palette/constants.ts
  web-ui/src/config/apiRegistry.ts
  web-ui/src/config/nodeDefinitions.test.ts
  web-ui/src/config/nodes/detectionNodes.ts
  web-ui/src/locales/en.json
  web-ui/src/locales/ko.json
  web-ui/src/pages/blueprintflow/BlueprintFlowTemplates.tsx
  web-ui/src/store/workflowStore.ts
Due: eslint, typescript-check, validate-api-specs

docs: ACTIVE.md 커밋 완료 상태 업데이트
  .todo/ACTIVE.md
Due: none

fix: DSE Bearing ExcelExport 파라미터 API 스펙 동기화
  web-ui/src/pages/blueprintflow/BlueprintFlowTemplates.tsx
Due: eslint, typescript-check

docs: DSE Bearing ExcelExport P2 완료 상태 업데이트
  .todo/2026-01-22_DSE_BEARING_TEMPLATE_FIXES.md
  .todo/ACTIVE.md
Due: none

test: 신규 테스트 추가로 커버리지 549→653 (P2 완료)
  web-ui/src/hooks/useAPIRegistry.test.ts
  web-ui/src/hooks/useHyperParameters.test.ts
  web-ui/src/lib/api.test.ts
  web-ui/src/services/apiRegistryService.test.ts
  web-ui/src/utils/specToHyperparams.test.ts
Due: eslint, typescript-check

feat: 신뢰도 분포 히스토그램 차트 추가 (P3 시각화)
  web-ui/src/components/charts/ConfidenceDistributionChart.test.tsx
  web-ui/src/components/charts/ConfidenceDistributionChart.tsx
  web-ui/src/components/charts/index.ts
  web-ui/src/components/debug/YOLOVisualization.tsx
Due: eslint, typescript-check

docs: P2/P3 완료 상태 업데이트
  .todo/ACTIVE.md
Due: none

chore: TODO 파일 정리 및 아카이브
  .todo/ACTIVE.md
  .todo/BACKLOG.md
  .todo/COMPLETED.md
  .todo/archive/11_CONFIG_DIRECTORY_CONSISTENCY.md
  .todo/archive/13_GIT_CHANGES_SUMMARY.md
  .todo/archive/14_NODE_PROFILES_INTEGRATION.md
  .todo/archive/2026-01-22_DSE_BEARING_TEMPLATE_FIXES.md
  web-ui/src/components/charts/ConfidenceDistributionChart.test.tsx
Due: eslint, typescript-check

chore: 완료된 AUDIT/INVENTORY 문서 archive 이동
  .todo/ACTIVE.md
  .todo/archive/12_API_SPEC_NAMING_CONSISTENCY.md
  .todo/archive/AUDIT_PHASE1_CORE.md
  .todo/archive/AUDIT_PHASE2_INFRA.md
  .todo/archive/AUDIT_PHASE3_DOCS.md
  .todo/archive/AUDIT_PHASE4_DATA.md
  .todo/archive/AUDIT_PHASE5_TEMP.md
  .todo/archive/AUDIT_PHASE6_MISC.md
  .todo/archive/DIRECTORY_AUDIT_PLAN.md
  .todo/archive/FILE_INVENTORY.md
  .todo/archive/FILE_INVENTORY_DETAILED.md
Due: none

feat: 보리스 체니 13가지 전략 적용 - Hooks, 커맨드, CLAUDE.md 강화
  .claude/commands/simplify.md
  .claude/commands/verify.md
  .claude/hooks/on-stop-verify.sh
  .claude/hooks/post-edit-format.sh
  .claude/settings.json
  CLAUDE.md
Due: none

docs: 보리스 체니 13가지 전략 및 적용 현황 문서화
  .todo/CLAUDE_CODE_STRATEGIES.md
Due: none

fix: 모든 프리셋 confidence_threshold 0.4로 통일
  blueprint-ai-bom/backend/schemas/analysis_options.py
Due: none

feat: 파나시아 템플릿 F1 98% 달성 - 모델 최적화 및 GT 파이프라인 통합
  blueprint-ai-bom/backend/routers/analysis/core_router.py
  blueprint-ai-bom/backend/schemas/analysis_options.py
  blueprint-ai-bom/backend/schemas/detection.py
  blueprint-ai-bom/backend/services/detection_service.py
  blueprint-ai-bom/frontend/src/components/AnalysisOptions.tsx
  blueprint-ai-bom/frontend/src/pages/DetectionPage.tsx
  blueprint-ai-bom/frontend/src/pages/WorkflowPage.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/components/WorkflowSidebar.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/hooks/useWorkflowEffects.ts
  blueprint-ai-bom/frontend/src/pages/workflow/hooks/useWorkflowState.ts
  blueprint-ai-bom/frontend/src/pages/workflow/sections/DetectionResultsSection.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/sections/GTComparisonSection.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/sections/ReferenceDrawingSection.tsx
  blueprint-ai-bom/scripts/export/export_package.py
  gateway-api/blueprintflow/executors/bom_executor.py
  gateway-api/blueprintflow/executors/imageinput_executor.py
  gateway-api/blueprintflow/executors/yolo_executor.py
  models/yolo-api/config/model_defaults.py
  models/yolo-api/routers/detection_router.py
  models/yolo-api/services/inference.py
  web-ui/public/samples/gt/sample7_mcp_panel_body.txt
  web-ui/src/components/blueprintflow/DetectionResultCard.tsx
  web-ui/src/components/blueprintflow/NodeDetailPanel.tsx
  web-ui/src/config/nodes/detectionNodes.ts
  web-ui/src/pages/blueprintflow/BlueprintFlowBuilder.tsx
  web-ui/src/pages/blueprintflow/BlueprintFlowTemplates.tsx
  web-ui/src/store/workflowStore.ts
  web-ui/src/types/detection.ts
Due: eslint, typescript-check

feat: panasia 모델에 override_class_names 적용 - F1 98% + 참조 이미지 동시 달성
  models/yolo-api/config/model_defaults.py
  models/yolo-api/models/model_registry.yaml
  models/yolo-api/routers/detection_router.py
  web-ui/src/pages/blueprintflow/BlueprintFlowTemplates.tsx
Due: eslint, typescript-check

feat: 빌더 단가 파일 업로드, BOM UX 개선, YOLO data.yaml 클래스명 방식 전환
  .todo/ACTIVE.md
  .todo/BACKLOG.md
  blueprint-ai-bom/backend/routers/bom_router.py
  blueprint-ai-bom/backend/services/bom_service.py
  blueprint-ai-bom/frontend/src/components/ReferencePanel.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/sections/FinalResultsSection.tsx
  gateway-api/blueprintflow/executors/bom_executor.py
  models/yolo-api/models/model_registry.yaml
  models/yolo-api/models/panasia_data.yaml
  models/yolo-api/routers/detection_router.py
  models/yolo-api/services/registry.py
  web-ui/src/pages/blueprintflow/BlueprintFlowBuilder.tsx
  web-ui/src/store/workflowStore.ts
Due: eslint, typescript-check

feat: eDOCr2 크롭 업스케일, BOM 치수 임포트 버그 수정, DimensionOverlay 스케일링 수정
  .todo/ACTIVE.md
  CLAUDE.md
  blueprint-ai-bom/backend/routers/analysis/dimension_router.py
  blueprint-ai-bom/frontend/src/components/DimensionOverlay.tsx
  docker-compose.yml
  gateway-api/api_specs/edocr2.yaml
  gateway-api/blueprintflow/engine/pipeline_engine.py
  gateway-api/blueprintflow/executors/__init__.py
  gateway-api/blueprintflow/executors/dimension_updater_executor.py
  gateway-api/blueprintflow/executors/edocr2_executor.py
  gateway-api/blueprintflow/executors/image_utils.py
  models/table-detector-api/Dockerfile
  models/table-detector-api/requirements.txt
  web-ui/src/config/nodeDefinitions.test.ts
  web-ui/src/config/nodes/analysisNodes.ts
  web-ui/src/config/nodes/ocrNodes.ts
  web-ui/src/pages/blueprintflow/BlueprintFlowBuilder.tsx
  web-ui/src/pages/blueprintflow/BlueprintFlowTemplates.tsx
  web-ui/src/store/workflowStore.ts
Due: eslint, typescript-check, validate-api-specs

feat: BOM HITL 치수 전용 워크플로우 완성, Executor 리팩토링, UI 하이라이트 연동
  .todo/2026-02-03_OCR_TEXT_EXPERIMENT.md
  .todo/BACKLOG.md
  blueprint-ai-bom/backend/routers/analysis/core_router.py
  blueprint-ai-bom/backend/routers/bom_router.py
  blueprint-ai-bom/backend/routers/session_router.py
  blueprint-ai-bom/backend/schemas/session.py
  blueprint-ai-bom/backend/services/bom_service.py
  blueprint-ai-bom/backend/services/table_service.py
  blueprint-ai-bom/frontend/src/components/DimensionOverlay.tsx
  blueprint-ai-bom/frontend/src/config/features/featureDefinitions.ts
  blueprint-ai-bom/frontend/src/pages/WorkflowPage.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/components/WorkflowSidebar.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/config/sectionConfig.ts
  blueprint-ai-bom/frontend/src/pages/workflow/index.ts
  blueprint-ai-bom/frontend/src/pages/workflow/sections/BOMSection.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/sections/DetectionResultsSection.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/sections/DimensionSection.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/sections/FinalResultsSection.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/sections/TableExtractionSection.tsx
  blueprint-ai-bom/frontend/src/pages/workflow/types/workflow.ts
  blueprint-ai-bom/frontend/src/types/index.ts
  gateway-api/blueprintflow/executors/bom_executor.py
  gateway-api/blueprintflow/executors/pdfexport_executor.py
  gateway-api/blueprintflow/executors/pidfeatures_executor.py
  models/edocr2-v2-api/edocr2_src/keras_ocr/tools.py
  models/edocr2-v2-api/edocr2_src/tools/ocr_pipelines.py
  models/edocr2-v2-api/services/ocr_processor.py
  models/line-detector-api/services/classification_service.py
  models/line-detector-api/services/detection_service.py
  web-ui/src/config/features/featureConverters.ts
  web-ui/src/pages/blueprintflow/BlueprintFlowTemplates.tsx
Due: eslint, typescript-check

feat: BOM 계층 워크플로우 Phase 1-3 완성 (PDF 파싱, 위저드 UI, 견적 집계)
  .todo/ACTIVE.md
  .todo/BACKLOG.md
  blueprint-ai-bom/backend/routers/project_router.py
  blueprint-ai-bom/backend/routers/session_router.py
  blueprint-ai-bom/backend/schemas/bom_item.py
  blueprint-ai-bom/backend/schemas/project.py
  blueprint-ai-bom/backend/schemas/quotation.py
  blueprint-ai-bom/backend/schemas/session.py
  blueprint-ai-bom/backend/services/bom_pdf_parser.py
  blueprint-ai-bom/backend/services/drawing_matcher.py
  blueprint-ai-bom/backend/services/project_service.py
  blueprint-ai-bom/backend/services/quotation_service.py
  blueprint-ai-bom/backend/services/session_service.py
  blueprint-ai-bom/frontend/src/pages/project/ProjectDetailPage.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/BOMHierarchyTree.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/BOMWorkflowSection.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/DrawingMatchTable.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/MaterialBreakdown.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/QuotationDashboard.tsx
  gateway-api/blueprintflow/executors/bom_executor.py
  web-ui/src/pages/blueprintflow/BlueprintFlowTemplates.tsx
Due: eslint, typescript-check

feat: Blueprint AI BOM 프론트엔드 다크모드 내장 (useTheme + ThemeToggle)
  blueprint-ai-bom/frontend/src/components/ThemeToggle.tsx
  blueprint-ai-bom/frontend/src/hooks/useTheme.ts
  blueprint-ai-bom/frontend/src/pages/project/ProjectDetailPage.tsx
  blueprint-ai-bom/frontend/src/pages/project/ProjectListPage.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/BOMHierarchyTree.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/BOMWorkflowSection.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/MaterialBreakdown.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/ProjectCard.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/ProjectCreateModal.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/QuotationDashboard.tsx
Due: none

feat: BOM 백엔드 확장 - 견적/템플릿/배치분석/뷰라벨 API 추가
  blueprint-ai-bom/backend/api_server.py
  blueprint-ai-bom/backend/requirements.txt
  blueprint-ai-bom/backend/routers/analysis/__init__.py
  blueprint-ai-bom/backend/routers/analysis/batch_router.py
  blueprint-ai-bom/backend/routers/analysis/core_router.py
  blueprint-ai-bom/backend/routers/longterm_router.py
  blueprint-ai-bom/backend/routers/project_router.py
  blueprint-ai-bom/backend/routers/session_router.py
  blueprint-ai-bom/backend/routers/template_router.py
  blueprint-ai-bom/backend/schemas/bom_item.py
  blueprint-ai-bom/backend/schemas/pricing_config.py
  blueprint-ai-bom/backend/schemas/project.py
  blueprint-ai-bom/backend/schemas/quotation.py
  blueprint-ai-bom/backend/schemas/template.py
  blueprint-ai-bom/backend/services/bom_migration.py
  blueprint-ai-bom/backend/services/bom_pdf_parser.py
  blueprint-ai-bom/backend/services/cost_calculator.py
  blueprint-ai-bom/backend/services/dimension_service.py
  blueprint-ai-bom/backend/services/image_utils.py
  blueprint-ai-bom/backend/services/project_service.py
  blueprint-ai-bom/backend/services/quotation_service.py
  blueprint-ai-bom/backend/services/template_service.py
  blueprint-ai-bom/backend/services/view_label_extractor.py
  blueprint-ai-bom/docker-compose.yml
  blueprint-ai-bom/frontend/.env.production
  blueprint-ai-bom/frontend/nginx.conf
  blueprint-ai-bom/frontend/src/pages/project/components/AssemblyBreakdown.tsx
  blueprint-ai-bom/frontend/src/pages/project/components/PIDWorkflowSection.tsx
Due: none

refactor: Executor APICallerMixin, Docker GPU 자동감지, 가중투표 공통 라이브러리
  docker-compose.yml
  gateway-api/blueprintflow/executors/base_executor.py
  gateway-api/blueprintflow/executors/bom_executor.py
  gateway-api/blueprintflow/executors/pdfexport_executor.py
  gateway-api/blueprintflow/executors/pidfeatures_executor.py
  gateway-api/common/__init__.py
  gateway-api/common/weighted_voting.py
  models/edgnet-api/edgnet_src/vectorization/thinning.py
  models/table-detector-api/services/table_detector_service.py
  models/yolo-api/Dockerfile
  models/yolo-api/docker-gpu-entrypoint.sh
  models/yolo-api/routers/detection_router.py
  models/yolo-api/services/sahi_inference.py
  scripts/README-GPU-DETECTION.md
  scripts/docker-gpu-entrypoint.sh
Due: none

feat: web-ui 프로젝트 관리 통합 + 시각화 컴포넌트 + Dashboard 개선
  web-ui/src/App.tsx
  web-ui/src/components/bom/BOMSessionOverlay.tsx
  web-ui/src/components/common/CropRegionPreview.tsx
  web-ui/src/components/common/GenericOverlayViewer.tsx
  web-ui/src/components/layout/Sidebar.tsx
  web-ui/src/components/templates/TemplateVersionHistory.tsx
  web-ui/src/components/templates/index.ts
  web-ui/src/components/visualization/BOMConnectionLines.tsx
  web-ui/src/components/visualization/ToleranceHeatmap.tsx
  web-ui/src/components/visualization/index.ts
  web-ui/src/hooks/index.ts
  web-ui/src/hooks/useCanvasDrawing.ts
  web-ui/src/lib/blueprintBomApi.ts
  web-ui/src/locales/en.json
  web-ui/src/locales/ko.json
  web-ui/src/pages/blueprintflow/BlueprintFlowTemplates.tsx
  web-ui/src/pages/dashboard/Dashboard.tsx
  web-ui/src/pages/project/ProjectDetailPage.tsx
  web-ui/src/pages/project/ProjectListPage.tsx
  web-ui/src/pages/project/components/AssemblyBreakdown.tsx
  web-ui/src/pages/project/components/BOMHierarchyTree.tsx
  web-ui/src/pages/project/components/BOMWorkflowSection.tsx
  web-ui/src/pages/project/components/DrawingMatchTable.tsx
  web-ui/src/pages/project/components/MaterialBreakdown.tsx
  web-ui/src/pages/project/components/PIDWorkflowSection.tsx
  web-ui/src/pages/project/components/ProjectCard.tsx
  web-ui/src/pages/project/components/ProjectCreateModal.tsx
  web-ui/src/pages/project/components/QuotationDashboard.tsx
Due: eslint, typescript-check

fix: 견적 정확도 개선 - 중량계산/단가/마진/가공비 구조 수정
  blueprint-ai-bom/backend/schemas/pricing_config.py
  blueprint-ai-bom/backend/schemas/quotation.py
  blueprint-ai-bom/backend/services/cost_calculator.py
  blueprint-ai-bom/backend/services/quotation_service.py
Due: none

refactor: BOM 백엔드 라우터/서비스 1000줄 초과 파일 분리
  blueprint-ai-bom/backend/api_server.py
  blueprint-ai-bom/backend/routers/__init__.py
  blueprint-ai-bom/backend/routers/analysis/__init__.py
  blueprint-ai-bom/backend/routers/analysis/drawing_region_router.py
  blueprint-ai-bom/backend/routers/analysis/notes_router.py
  blueprint-ai-bom/backend/routers/analysis/revision_router.py
  blueprint-ai-bom/backend/routers/analysis/viewlabels_router.py
  blueprint-ai-bom/backend/routers/analysis/vlm_router.py
  blueprint-ai-bom/backend/routers/config_router.py
  blueprint-ai-bom/backend/routers/gt_router.py
  blueprint-ai-bom/backend/routers/longterm_router.py
  blueprint-ai-bom/backend/routers/pricing_router.py
  blueprint-ai-bom/backend/routers/project_bom_router.py
  blueprint-ai-bom/backend/routers/project_router.py
  blueprint-ai-bom/backend/routers/quotation_router.py
  blueprint-ai-bom/backend/routers/session_images_router.py
  blueprint-ai-bom/backend/routers/session_io_router.py
  blueprint-ai-bom/backend/routers/session_router.py
  blueprint-ai-bom/backend/routers/workflow_session_router.py
  blueprint-ai-bom/backend/services/export_docker_handler.py
  blueprint-ai-bom/backend/services/export_script_generator.py
  blueprint-ai-bom/backend/services/quotation_excel_exporter.py
  blueprint-ai-bom/backend/services/quotation_pdf_exporter.py
  blueprint-ai-bom/backend/services/self_contained_export_service.py
Due: none

refactor: web-ui 1000줄 초과 파일 분리 + 기능 확장
  .todo/ACTIVE.md
  .todo/COMPLETED.md
  blueprint-ai-bom/frontend/src/config/features/featureDefinitions.ts
  web-ui/src/config/features/featureDefinitions.ts
  web-ui/src/config/nodes/analysisNodes.ts
  web-ui/src/config/nodes/analysisNodesBom.ts
  web-ui/src/config/nodes/analysisNodesDocument.ts
  web-ui/src/config/nodes/analysisNodesPid.ts
  web-ui/src/config/nodes/analysisNodesQuality.ts
  web-ui/src/lib/api.ts
  web-ui/src/lib/apiHealth.ts
  web-ui/src/lib/apiProject.ts
  web-ui/src/lib/apiServices.ts
  web-ui/src/lib/apiTypes.ts
  web-ui/src/lib/blueprintBomApi.ts
  web-ui/src/pages/blueprintflow/BlueprintFlowTemplates.tsx
  web-ui/src/pages/blueprintflow/components/ExecutionStatusPanel.tsx
  web-ui/src/pages/blueprintflow/components/FinalResultView.tsx
  web-ui/src/pages/blueprintflow/components/OutputDisplays.tsx
  web-ui/src/pages/blueprintflow/templates/index.ts
  web-ui/src/pages/blueprintflow/templates/templateDefinitions.ts
  web-ui/src/pages/blueprintflow/templates/types.ts
  web-ui/src/pages/project/components/QuotationDashboard.tsx
Due: eslint, typescript-check

feat: 동서기연 터빈 베어링 납품 패키지 생성
  .todo/ACTIVE.md
  .todo/BACKLOG.md
  .todo/COMPLETED.md
  blueprint-ai-bom/exports/dsebearing-delivery/CHECKSUMS.sha256
  blueprint-ai-bom/exports/dsebearing-delivery/README.md
  blueprint-ai-bom/exports/dsebearing-delivery/docker-compose.yml
  blueprint-ai-bom/exports/dsebearing-delivery/setup.ps1
  blueprint-ai-bom/exports/dsebearing-delivery/setup.sh
Due: none

fix: Import 시 project_dir 스코핑 버그 + quotation session_id 리맵 누락 수정
  blueprint-ai-bom/backend/routers/project_io_router.py
  blueprint-ai-bom/exports/dsebearing-delivery/CHECKSUMS.sha256
Due: none

docs: Agent-Native Verification UI 기획 문서 추가
  .todo/AGENT_NATIVE_VERIFICATION_UI.md
  .todo/BACKLOG.md
  blueprint-ai-bom/exports/dsebearing-delivery/CHECKSUMS.sha256
Due: none

feat: Agent-Native Verification UI 구현 (Phase 1+2)
  .todo/ACTIVE.md
  blueprint-ai-bom/backend/api_server.py
  blueprint-ai-bom/backend/routers/agent_verification_router.py
  blueprint-ai-bom/backend/services/crop_service.py
  blueprint-ai-bom/frontend/src/App.tsx
  blueprint-ai-bom/frontend/src/pages/AgentVerificationPage.tsx
  blueprint-ai-bom/frontend/src/pages/index.ts
Due: none

fix: 참조 이미지 매칭 - 공백/언더스코어 통일 처리
  blueprint-ai-bom/backend/services/crop_service.py
Due: none

fix: Agent 검증 status 버그 수정 + dimension 검증 지원
  .todo/ACTIVE.md
  .todo/COMPLETED.md
  blueprint-ai-bom/backend/routers/agent_verification_router.py
  blueprint-ai-bom/backend/services/crop_service.py
  blueprint-ai-bom/frontend/src/pages/AgentVerificationPage.tsx
Due: none

feat: Agent Verification Pipeline (Phase 3+4) + Dockerfile 수정
  .todo/ACTIVE.md
  .todo/AGENT_NATIVE_VERIFICATION_UI.md
  blueprint-ai-bom/frontend/src/pages/AgentVerificationPage.tsx
  blueprint-ai-bom/scripts/agent_verify.py
  blueprint-ai-bom/scripts/agent_verify_prompts.py
  models/doctr-api/Dockerfile
  models/edgnet-api/Dockerfile
  models/ocr-ensemble-api/Dockerfile
  models/surya-ocr-api/Dockerfile
  models/tesseract-api/Dockerfile
  models/trocr-api/Dockerfile
Due: none

feat: Agent 배치 자동화 + 검증 결과 대시보드
  .todo/BACKLOG.md
  blueprint-ai-bom/backend/routers/agent_verification_router.py
  blueprint-ai-bom/frontend/src/App.tsx
  blueprint-ai-bom/frontend/src/pages/AgentDashboardPage.tsx
  blueprint-ai-bom/frontend/src/pages/index.ts
  blueprint-ai-bom/scripts/agent_verify.py
Due: none

refactor: P0 대형 파일 6개 모듈 분리 (배럴 re-export 패턴)
  blueprint-ai-bom/backend/routers/analysis/core_router.py
  blueprint-ai-bom/backend/services/_region_constants.py
  blueprint-ai-bom/backend/services/cost_calculator.py
  blueprint-ai-bom/backend/services/detection_service.py
  blueprint-ai-bom/backend/services/dimension_merger.py
  blueprint-ai-bom/backend/services/dimension_parser.py
  blueprint-ai-bom/backend/services/dimension_service.py
  blueprint-ai-bom/backend/services/gdt_parser.py
  blueprint-ai-bom/backend/services/gdt_pattern_matcher.py
  blueprint-ai-bom/backend/services/gdt_symbols.py
  blueprint-ai-bom/backend/services/machining_calculator.py
  blueprint-ai-bom/backend/services/material_calculator.py
  blueprint-ai-bom/backend/services/region_analysis.py
  blueprint-ai-bom/backend/services/region_merging.py
  blueprint-ai-bom/backend/services/region_segmenter.py
  blueprint-ai-bom/backend/services/weight_calculator.py
Due: none

Path conditions:
  eslint: any of: ^web-ui/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^web-ui/src/.*\.(ts|tsx)$
  validate-api-specs: any of: ^gateway-api/api_specs/.*\.yaml$ and \.(yaml|yml)$
